.App{
  background: linear-gradient(45deg, black, slategrey);
  width:100vw;
  height: 100vh;
}

form {
  width: 50%;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;


  
};
.input {
  color: red;
}
button{
  
  background-color: peachpuff;
}

.complete {
  text-decoration: line-through;
  
}